{% load humanize %}
<style>
    .bitbox {
        width: 76px;
        border-right: 1px solid rgb(68, 59, 59);
        height: 57px;
        display: inline-block;
        text-align: center;
        font-size: 11px;
        margin: 4px 3px 3px 3px;
        padding: 4px;
    }

    #slide-box {
        height: 66px;  
        color: black;
        display: inline-block;
        overflow: hidden; /* Hide overflowing content */
        white-space: nowrap; 
        background-image: linear-gradient(to bottom right, rgba(226, 226, 226, 0),  rgb(255, 192, 110)); 
    }

    .scroll-content {
        display: inline-block;
        white-space: nowrap;
        animation: slide 150s linear infinite;
        width: auto; /* Adjusted width for continuous scroll */
    }

    .scroll-content > .bitbox {
        display: inline-block;
        white-space: nowrap;
    }

    @keyframes slide {
        0% {
            transform: translateX(6%); /* Start from the original position */
        }
        50% {
            transform: translateX(-100%); /* Scroll halfway */
        }
        100% {
            transform: translateX(-200%); /* Scroll completely */
        }
    }

    .bitbox span {
        font-weight: 600;
    }

    .bitbox span .positive {
        color: rgb(25, 136, 25);
    }

    .bitbox span .negative {
        color: red;
    }
</style>

<div id="slide-box">
    <div class="scroll-content">
        <!-- First clone of the content -->
        {% for dat in coins %}
            <div class="bitbox">
                <span>
                    {{ dat.name }}<br>
                    ${{ dat.quote.USD.price | floatformat:2 | intcomma }}<br>
                    {% if dat.quote.USD.percent_change_1h > 0 %}
                        <span class="positive">
                            <i class="fa fa-arrow-up"></i> {{ dat.quote.USD.percent_change_1h | floatformat:2 }}%
                        </span>
                    {% else %}
                        <span class="negative">
                            <i class="fa fa-arrow-down"></i> {{ dat.quote.USD.percent_change_1h | floatformat:2 }}%
                        </span>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
        
        <!-- Clone the content again for seamless looping -->
        {% for dat in coins %}
            <div class="bitbox">
                <span>
                    {{ dat.name }}<br>
                    ${{ dat.quote.USD.price | floatformat:2 | intcomma }}<br>
                    {% if dat.quote.USD.percent_change_1h > 0 %}
                        <span class="positive">
                            <i class="fa fa-arrow-up"></i> {{ dat.quote.USD.percent_change_1h | floatformat:2 }}%
                        </span>
                    {% else %}
                        <span class="negative">
                            <i class="fa fa-arrow-down"></i> {{ dat.quote.USD.percent_change_1h | floatformat:2 }}%
                        </span>
                    {% endif %}
                </span>
            </div>
        {% endfor %}
    </div>
</div>
