
{% load humanize %}
        <div class="container my-2 pt-3 mb-5">
        <small style="color:grey; font-size:12px; text-transform: uppercase;">
          Select your preferred cryptocurrency
        </small>
        {% for dat in coins %}
        <ul class="list-group" style="font-size: 13PX;">
            <li class="list-group-item mt-3" style="  border: 1px whitesmoke;     
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 237, 198))">
                <div class="row">
                    <div class="col-3">
                        {{ dat.name }}
                    </div>
                    <div class="col-3">
               
            {% if dat.quote.USD.percent_change_1h > 0 %}
            <span style="color:rgb(25, 136, 25);">
            <i class="fa fa-caret-up"></i>
            </span>
            {% else %}
            <span style="color:red;">
            <i class="fa fa-caret-down"></i>
            </span>
            {% endif %}   
            <span style="{% if dat.quote.USD.percent_change_1h > 0 %}color:green;{% else %}color:red;{% endif %}">
                {{ dat.quote.USD.percent_change_1h | floatformat:2  }}%
            </span></div>      
                    <div class="col-3">
                        ${{ dat.quote.USD.price | floatformat:2 | intcomma }}
                 
                    </div>
                    <div class="col-3">
                        <button class="btn btn-success btn-sm pull-right"
                        data-toggle="modal" data-target="#modal{{ dat.id }}" style="font-size:11PX">BUY</button>
                       
                    </div>
            
            
              <!-- Modal -->
              <div class="modal fade w-80" id="modal{{ dat.id }}" tabindex="-1" role="dialog" 
              aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="exampleModalLongTitle">
            
                        <b>{{ dat.name }} Purchase</b><br>
                        ${{ dat.quote.USD.price | floatformat:3 }}
            
                      </h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <center class="modal-body w-80" style="font-size:14px">
                      Enter amount:<br>
                      <form  method="POST" class="form-group mt-1" style="font-size:14px" action="{% url 'buy' %}"> 
                        {% csrf_token %}
                        <input id="amt" type="number" placeholder="$" name="cash"><br>
                        <input value="{{ dat.quote.USD.price | floatformat:4 }}" name="price" hidden>
                        <input value="{{ dat.name }}" name="name" hidden>
                      
                        <input value="{{ dat.symbol }}" name="sym" hidden>
                      
                        <input class="btn btn-success btn-sm mt-2" type="submit" value="submit">
                        
                      </form>
                    </center>
                    
                  </div>
                </div>
              </div>
                </div>
        
            </li>
        </ul>
        {% endfor %}
        </div>