<style>
    a, a:active{color:black}
    a:focus, a:hover{color:brown}
</style>
<footer class="mt-5" style="height:auto;color: rgb(0, 0, 0); background-color:rgb(255, 226, 183); padding:15px; padding-bottom:25px;">
 
    <br>
    <h6 style="font-weight: 600; color: brown;">Email Newsletter</h6>
    <small style="font-size: 12px;">

    Subscribe to our newsletter!<br>
    <input placeholder="Email Address" style="width: 62%;"
    ><a href="{% url 'home' %}"><button>Submit</button></a><br><br>
    
    <div class="row">
        <div class="col-6">
            <h6 style="font-weight: 600; color: brown; ">Our Services</h6>
            <span style="font-size: 12px;">
                <a href="#sec">Security</a><br>
                <a href="#cus">Customer service</a><br>
                <a href="#plans">Packages</a><br>
                Special Offers<br>
                <a href="#pay">Payment Methods</a><br>
                <a href="{% url 'terms' %}">Terms of service</a><br> <br>
            </span> 
         </div>
         <div class="col-6">
             <h6 style="font-weight: 600; color: brown;">Our Company</h6>
             <span style="font-size: 12px;">
                <a href="#about">About</a><br>
                 Contact Us<br>
                 Credits<br>
                 <a href="{% url 'faq' %}">FAQ's</a><br>
                 Donate<br>
                 Contact Developer<br><br>
             </span> 
         </div>
         </div>

</small>
<br>
    <center>

        <small style="font-size: 12px;" class="mt-1">
            <i class="fa fa-map-marker" style="font-size: 13px;"></i> Creston, New York, USA<br>
       
            2021 &#169 Copyright Capital Finnesse
        </small>
    </center>
</footer>