<style>
    strong {
        color: rgb(0, 0, 0);
    }

    #instruction {
        color: black;
        font-size: 13px;
        display: block;
        line-height: 1.4em;
    }
</style>

<h6 style="color:brown; font-size:13px; font-weight: 600;">
    GET STARTED WITH THESE 3 SIMPLE STEPS:
</h6>
<hr style="padding-top: 0px !important; margin-top:0px !important;">

<div class="row text-center">
    <!-- 1st Step -->
    <div class="col-md-4 ">
        <strong class="pull-left">1. Sign Up</strong><br>
        <i class="fa fa-pencil text-center my-4" style="font-size:64px; color:rgb(204, 166, 121)"></i><br>
        <span id="instruction">Enter the required credentials, submit and verify your account to get started. And receive a sign-up bonus of $10.</span><br>
        <a href="#sign">
            <button class="btn btn-dark btn-sm pull-right" style="border-radius: 90px;font-size: 13px; width: 50%;">
                Sign up
            </button>
        </a><br>
    </div>

    <!-- 2nd Step -->
    <div class="col-md-4 my-2">
        <strong class="pull-left">2. Deposit to your wallet</strong><br>
        <i class="fa fa-dollar text-center my-4" style="font-size: 64px; color:rgb(204, 166, 121);"></i><br>
        <span id="instruction">Deposit money into your wallet to purchase your desired cryptocurrencies.</span><br>
        <button class="btn btn-dark btn-sm pull-right" style="border-radius: 90px;font-size: 13px; width: 50%;">
            Deposit
        </button><br>
    </div>

    <!-- 3rd Step -->
    <div class="col-md-4">
        <strong class="pull-left">3. Start trading!</strong><br>
        <i class="fa fa-briefcase text-center my-4" style="font-size:64px; color:rgb(204, 166, 121);"></i><br>
        <span id="instruction">Buy and sell cryptocurrencies at your discretion.<br> Capital phoenix assures full cyber security and fraud-free transactions!</span><br>
        <a href="{% url 'trade' %}">
            <button class="btn btn-dark btn-sm pull-right" style="border-radius: 90px;font-size: 13px; width: 50%;">
                Trade
            </button>
        </a><br>
    </div>
</div>
