
{% load static %} 
<style>
 headings{ font-weight:650; color:blue; display:block; margin-top: 10px;}
 
  .off{ height: 240px;
        border:1px;padding:4%; font-weight: 650; font-size:x-large; 
 }
 .back{background-repeat:no-repeat;
  background-size: cover;
        background-image:
          url('{% static 'capping/coscare.jpeg' %}')}
   
</style>  
    
    
    
    
    
    
    
    <div class="container my-3 mt-3">
<center>
    <h5>Special Offers</h5>
</center>
<small style="font-size: 12px; color:;">
NEW USER BONUS <br>
Deposit an initial capital of at least $100 and have an additional 17% of it deposited to your wallet.
<center>
<button class="btn btn-sm btn-danger my-3">Get it now</button>
</center>

</small>
</div>