
{% load static %}
<style>
    .talk{ display: block; line-height: 1.4em; font-size:12px; color:grey}
</style>
    <div class="my-3">
        <center class="mb-3">
            <h5>Why choose us?</h5>
        </center>
        <div class="row">
            <div class="col-2 right mb-5" style="">
                <img src="{% static 'capping/shield.svg' %}" style="height: 47px;">

            </div>
            <div class="col-10 talk" id="sec">Protection against DDOS attacks, full data encryption, cryptocurrency cold storage, 
                and SSL certified network protocols to ensure maximum security <br>
                </div>

                <div class="col-2 right mb-5" style="">
                    <img src="{% static 'capping/customer-service.svg' %}" style="height: 47px;">
    
                </div>
                <div class="col-10 talk" id="cus">
                    Dedicated customer service providers on standby to respond to your p's and q's
                    </div>

                    <div class="col-2 right mb-5" style="">
                        <img src="{% static 'capping/bar-chart.svg' %}" style="height: 47px;">
                    </div>
                    <div class="col-10 talk">
                        Profitable investment packages with juicy returns on investment duely delivered 
                        with extra commission at various intervals.
                        </div>
        
    
                
            <div class="col-2 right mb-4" style="">
                <img src="{% static 'capping/credit-card-1.svg' %}" style="height: 47px;">

            </div>
            <div class="col-10 talk" id="pay">
                Deposit funds for trading to your capital phoenix wallet through bitcoins, ethereum or credit cards
                withdraw any amount at anytime after investing in at least one cryptocurrency.<br>
                </div>

        </div>
    </div>
