<style>
    .test{border-radius:11px; width:100%; height:auto; padding:16px; border:none;
            background-color:rgb(241, 241, 241); color:black; font-size:12px; font-family:;
          }
</style>
{% load static %}
<center class="mb-3">
    <h5>Testimonies</h5>
</center>
<div style="padding:3px;">

    <div class="row mb-5">
        <div class="col-2">
            <div style="border:1px solid whitesmoke; height:50px; width:50px; border-radius:50%;
            background-image:url('{% static 'capping/pout.jpg' %}'); background-size:cover"></div>
        </div>
        <div class="col-10">
<div class="test">
<i class="fa fa-quote-left" style="font-size:21px; color: rgb(122, 122, 122);"></i>
    <br>
    <span class="ml-4 text-dark">
       Initially i was skeptical about throwing my money into  this
        but suprisingly, i recied my returns as promised. Go ahead and invest but still dont risk
        money you can't afford to lose. Goodluck.
    </span><br>
    <i><b class="ml-3 pull-right"> - Aubrey Meyer</b></i><br>
        </div></div>
    </div>

    <div class="row mb-5">
        <div class="col-2">
            <div style="border:1px solid whitesmoke; height:50px; width:50px; border-radius:50%;
            background-image:url('{% static 'capping/paul.jpg' %}'); background-size:cover"></div>
        </div>
        <div class="col-10">
<div class="test">
<i class="fa fa-quote-left" style="color: rgb(122, 122, 122);font-size:21px;"></i>
    <br>
    <span class="ml-4 text-dark">Initially i was skeptical about throwing my money into  this
        but suprisingly, i recied my returns as promised. Go ahead and invest but still dont risk
        money you can't afford to lose. Goodluck.
    </span><br>
    <b class="ml-3 pull-right"> - <i>Paul Archwight</i></b><br>
        </div></div>
</div>


<div class="row mb-2">
    <div class="col-2">
        <div style="border:1px solid whitesmoke; height:50px; width:50px; border-radius:50%;
        background-image:url('{% static 'capping/smileboy.jpg' %}'); background-size:cover"></div>
    </div>
    <div class="col-10">
<div class="test">
<i class="fa fa-quote-left" style="color: rgb(122, 122, 122);font-size:21px;"></i>
<br>
<span class="ml-4 text-dark">By far the best crypto investment site I've come across. Its legit y'all.
</span><br>
<b class="ml-3 pull-right"> -<i>Tristian Aloweigh</i></b><br>
    </div></div>
</div>
    </div>
<div class="container text-center mb-3">
<small style="font-size: 12px; color: grey; display: block; line-height:1.3em"> You will be allowed to submit testimonies alongside your name,
and photo once you register and complete a trade.</small>
</div>
</div>
