{% load static %}
<style>
  .icon{ font-size:23px; color:rgb(0, 0, 0)}
       </style>
<div style="height:50px; padding:13px;width:100%;position:fixed;bottom:0;"
     class="danbar d-flex justify-content-between">
<a href="{% url 'home' %}">
  <i class="fa fa-dashboard icon" style="color:black;"></i>
</a>

<a href="{% url 'trade' %}">
  <i class="fa fa-dollar icon"></i>
</a> 
  <i class="fa fa-envelope-o icon" data-toggle="modal" data-target="#modalmail"></i>
 
<a href="{% url 'my_wallets' %}">
  <img src="{% static 'capping/wallet.svg' %}" class="mb-1" style="height: 25px;">
</a>
<a href="{% url 'settings' %}">
  <i class="fa fa-gear icon"></i>
</a>

</div>





<!-- Modal -->
<div class="modal fade w-80" id="modalmail" tabindex="-1" role="dialog" 
aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
  <h6 class="modal-title" id="exampleModalLongTitle">
    Send us an email
  </h6>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<center class="modal-body w-80" style="font-size:14px">
 <br>
  <input style="border:1px solid grey; height:90px; width:80%" placeholder="Enter a message" type="text" class="mb-1"><br>
    <input class="btn btn-success btn-sm mt-2" type="submit" value="submit">
    
</center>

</div>
</div>
</div>