{% extends 'cap/base.html' %}
{% block title %}

#loginbox{width:85%; border:1px solid whitesmoke; padding:20px 10px 20px 10px; 
    box-shadow:inset 3px 3px 8px whitesmoke, 3px 5px 7px grey; border-radius:11px;}

#bogin{border:none; border-bottom:1px solid lightgrey;padding:6px; font-size:13px}
  #milklogin{ font-weight:600}
#loginbox{width:85%; border:1px solid whitesmoke;
                        padding:10px; box-shadow:inset 3px 5px 7px whitesmoke, 3px 5px 7px grey; border-radius:12px;}
   
{% endblock %}
{% block content %}
    <center class="my-3">
    <p style="position:relative"><small>Signup to</small> <span id="milklogin">Capitalfinnesse.com</span></p>
    </center>
{% if form.errors %}
<ul style="font-size:12px;">
    <li>Your password can’t be too similar to your other personal information.</li>
    <li>Your password must contain at least 8 characters.</li>
    <li>Your password can’t be a commonly used password.</li>
    <li>Your password can’t be entirely numeric.</li>
</ul>
  {% endif %}
<center>
<div id="loginbox" class="mt-2 p-4">
<form method="post">
    {% csrf_token %}

    <input type="text" name="{{ form.username.html_name }}" placeholder="{{ form.username.html_name }}" id="bogin" class="w-100 mt-2">
    <input type="text" name="{{ form.email.html_name }}" placeholder="{{ form.email.html_name }}" id="bogin" class="mt-4 w-100">
    <input type="password" name="{{ form.password1.html_name }}" placeholder="password" id="bogin" class="mt-4 w-100">
    <input type="password" name="{{ form.password2.html_name }}" placeholder="confirm password" id="bogin" class="mt-4 w-100">

    <div class="text-center mt-3">
        <small class="text-muted">REFERAL ID: 231CPT</small>
   <a href="{% url 'signup' %}">
       <button type="submit" 
       class="btn btn-sm w-100 mb-1" style="background-color:bisque; font-weight: 700;">
       sign up</button>
   </a>
 </div>
</form> 
<small style="font-size: 10px;color: grey; display: block; line-height:1.3em;" id="you">
    Already have an account?
</small>
            <a href="{% url 'login'%}?next={{ request.path}}" >
     <input type="submit"  class="btn btn-sm btn-dark w-100 " style=" border-radius:30px;" value="Login">
            </a>
   <input type="hidden" name="next" value="{{ next }}">
</div>
    </center>
    {% include 'cap/includes/foot.html' %}
{% endblock %}
  